.core-tooltip-popup {
  -fx-alignment: center-left;
  -fx-background-color: -app-foreground;
  -fx-background-radius: 6px;
  -fx-font-size: 12px;
  -fx-max-width: 320px;
  -fx-padding: 6px 12px;
  -fx-spacing: 6px;
  -fx-opacity: 1;
  -fx-scale-x: 1;
  -fx-scale-y: 1;
  -fx-translate-x: 0;
  -fx-translate-y: 0;
}

.core-tooltip-popup .label {
  -fx-text-fill: -app-background;
}

.core-tooltip-popup .text {
  -fx-fill: -app-background;
}

.core-tooltip-arrow {
  -fx-background-color: -app-foreground;
  -fx-background-radius: 2px;
  -fx-pref-height: 10px;
  -fx-pref-width: 10px;
  -fx-rotate: 45deg;
}

.core-tooltip-arrow:closed {
  -fx-opacity: 0;
}
